.allBlog{
    
    background-image: url("imagens/aerial-background-blog-cafe-camera-casual-1450843-pxhere.com.jpg");
    z-index: 5px;
}
#blogTitulo
{
    text-align: center;
    margin: auto;
    font-size: 120px;
    font-family: Arial, Helvetica, sans-serif;
}

#botoes
{
    margin-top: 15px;
    background-color:green;
}

#sobreTitulo
{
     /*float: left;*/
    margin-left:100px;
    margin-right: 600px;
    margin-bottom: -5px;
    font-size: 50px;
    
}