.allBlog{
    
    /*background-image: url("imagens/brain-mind-psychology-idea-hearts-love-1370218-pxhere.com.jpg");*/
    background-color: rgba(253, 246, 236, 100%);
    z-index: 5px;
}
#blogTitulo
{
    text-align: center;
    margin: auto;
    font-size: 120px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    color:rgba(240,87,16,100%);
}
.postStandard
{
    
    margin-left: 30%;
    margin-right: 30%;
}

#botoes
{
    margin-top: 15px;
    background-color:rgba(245, 239, 237,50%);
}

#sobreTitulo
{
     /*float: left;*/
    margin-left:100px;
    margin-right: 600px;
    margin-bottom: -5px;
    font-size: 50px;
    color :rgba(61, 71, 96,100%);
    
}

#Titulo0, #Titulo1, #Titulo2, #Titulo3{
    background-color: rgba(246, 242, 240, 30%);

}

#data0, #data1, #data2, #data3
{   margin-left: 10%;
    margin-right: 10%;
    background-color: rgba(246, 242, 240, 30%);
}
